coverage/
src/
test/
karma.config.js
.editorconfig
.eslintrc
.eslintignore
.gitignore
.projectile
API.md
circle.yml
yarn*
example/
node_modules/
.babelrc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
